<html>
    <head>
        <title>La persona màs importante sobre la Tierra blog</title>
    </head>
    <body>
    	<div>
            <h1><em><a href="">La persona màs importante sobre la Tierra</a></em></h1>
        </div>
        <br />
		<em>Prueba de cursiva</em>
        <p>Hola soy !</p>
        <p>Estoy Trabajando</p>
        <a href="https://col127.mail.live.com/?tid=cms1qf2u7i5RGqGgAhWtf-sg2&fid=flinbox">hotmail</a>
        <ul><li>primer elemento</li><li>segundo elemento</li></ul>
        <div>
        <h1><em><a href="">El amor de Dios</a></em></h1>
        </div>
        <p>Esta en Corintios !</p>
        <p>Es sobrenatural</p>
        <div>
        <h1><em><a href="">Implacable</a></em></h1>
        <p>La gracia de Dios</p>
        <p>Vivir al màximo</p>
        </div>
    </body>
</html>